<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="navifeed navifeed-index">
      <h2>please submit</h2>
      <ul>
        <% navifeeds.forEach(function(navifeed) { %>
          <li>
            <a href="/navifeeds/<%= navifeed._id %>"><%= navifeed.content %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
